[Unit]
Description=Run the quest tool service

[Service]
ExecStart=/usr/local/bin/questctl start -q /usr/src/puppet-quest-guide/tests

[Install]
WantedBy=multi-user.target
